<ActionBar class="action-bar">
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label class="action-bar-title" text="Create New Asset"></Label>
</ActionBar>

<GridLayout rows="auto, *" class="create-form">
	<ScrollView>
		<StackLayout>
			<GridLayout class="create-form-element">
				<TextField #assetIDTextField [(ngModel)]="asset" hint="Enter Asset ID"
					col="0"></TextField>
			</GridLayout>
			<GridLayout class="condition-form-element">
				<ListPicker [items]="listPickerCondition" [(ngModel)]="conditionListPickerIndex"></ListPicker>
			</GridLayout>
			<GridLayout class="status-form-element">
				<ListPicker [items]="listPickerStatus" [(ngModel)]="statusListPickerIndex"></ListPicker>
			</GridLayout><!--
			<GridLayout class="created-date-form-element">
				<DatePicker [year]="currentYear" [month]="currentMonth" [day]="currentDay"
					minDate="1970-01-01" maxDate="2100-12-31"></DatePicker>
			</GridLayout>
			<GridLayout class="changed-date-form-element">
				<DatePicker [year]="currentYear" [month]="currentMonth" [day]="currentDay"
					minDate="1970-01-01" maxDate="2100-12-31"></DatePicker>
			</GridLayout>
			<GridLayout class="user-id-form-element">
				<TextField #userIDTextField [(ngmodel)]="user" hint="Enter User ID"></TextField>
			</GridLayout>-->
		</StackLayout>
	</ScrollView>
</GridLayout>
