<ActionBar class="action-bar">
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label class="action-bar-title" text="Home"></Label>
</ActionBar>

<GridLayout rows="auto, *" class="home-list">
    <ScrollView row="0" <!-- class="home-list"-->>
        <StackLayout>
            <GridLayout columns="auto, *" class="home-list-item" (tap)="onNavItemTap('/create')">
                <Image col="0" src="~/images/Plus.jpg" class="thumb img-circle"></Image>
                <Label col="1" text="Create New Asset" class="p-l-15 p-t-11"></Label>
            </GridLayout>

            <StackLayout class="hr-light" height="5"></StackLayout>

            <GridLayout columns="auto, *" class="home-list-item" (tap)="onNavItemTap('/update')">
                <Image col="0" src="~/images/Database.jpg" class="thumb img-circle"></Image>
                <Label col="1" text="Update/Delete Existing Asset" class="p-l-15 p-t-11"></Label>
            </GridLayout>

            <StackLayout class="hr-light" height="5"></StackLayout>

            <GridLayout columns="auto, *" class="home-list-item" (tap)="onNavItemTap('/report')">
                <Image col="0" src="~/images/Reports.jpg" class="thumb img-circle"></Image>
                <Label col="1" text="Create/View Asset Reports" class="p-l-15 p-t-11"></Label>
            </GridLayout>
        </StackLayout>
    </ScrollView>
</GridLayout>
