<ActionBar class="action-bar">
    <!--
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!--
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label class="action-bar-title" text="Home"></Label>
</ActionBar>

<!-- <GridLayout class="page page-content">
    <Label class="page-icon fa" text="&#xf015;"></Label>
    <Label class="page-placeholder" text=""></Label>
</GridLayout> -->

<ScrollView class="page">
    <ListView class="list-group" [items]="data" (itemTap)="onItemTap($event)">
        <ng-template let-item="item">
            <GridLayout class="list-group-item" rows="*" columns="auto, *">
                <Image row="0" col="0" [src]="item.src" class="thumb img-circle"></Image>
                <Label row="0" col="1" [text]="item.txt"></Label>
            </GridLayout>
        </ng-template>
    </ListView>
</ScrollView>
<!--
<GridLayout rows="auto, *">
    <RadListView row="1">
        <GridLayout columns="*, auto">
            <Button text="Create New Asset" class="btn btn-primary" (tap)="createAsset()"></Button>
        </GridLayout>
    </RadListView>
    <RadListView row="2">
        <GridLayout columns="*, auto">
            <Button text="Update/Delete Existing Asset" class="btn btn-primary" (tap)="updateAsset()"></Button>
        </GridLayout>
    </RadListView>
    <RadListView row="3">
        <GridLayout columns="*, auto">
            <Button text="Create/View Report" class="btn btn-primary" (tap)="reports()" ></Button>
        </GridLayout>
    </RadListView>
    <RadListView row="4">
        <GridLayout columns="*, auto">
            <Button text="Search" class="btn btn-primary" (tap)="search()"></Button>
        </GridLayout>
    </RadListView>
</GridLayout>
-->
